.header,
.header * {
  box-sizing: border-box;
}
.header {
  background: #006185;
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 1280px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.about {
  flex-shrink: 0;
  width: 44px;
  height: 19px;
  position: relative;
}
.about2 {
  color: #ffffff;
  text-align: left;
  font: 500 16px "Lato", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.work {
  flex-shrink: 0;
  width: 39px;
  height: 19px;
  position: relative;
}
.contact {
  flex-shrink: 0;
  width: 56px;
  height: 19px;
  position: relative;
}
